<div class="dashboard is-full-height">
  <!-- left panel -->
  <div class="dashboard-panel is-medium has-thick-padding has-background-grey-lighter is-hidden-mobile">
    <header class="dashboard-panel-header">
      <div class="has-text-centered">
        <h2 class="title bold">Spy agency</h2>
      </div>
    </header>

    <div class="dashboard-panel-content">
      <aside class="menu has-text-white">
        <p class="menu-label">
        General
        </p>
        <ul class="menu-list">
          <!-- <li><a routerLink="/me">My profile</a></li> -->
          <li><a routerLink="/hits">Hits</a></li>
        </ul>
        <p class="menu-label" *ngIf="isManager">
        Administration
        </p>
        <ul class="menu-list" *ngIf="isManager">
          <li><a routerLink="/hitmen">Hitmens</a></li>
        </ul>
      </aside>
    </div>
  </div>

  <!-- main section -->
  <div class="dashboard-main is-scrollable">
    <nav class="navbar is-fixed-top is-dark">
      <div class="navbar-menu">
        <div class="navbar-end">
          <span class="navbar-item">{{ user.name }}</span>
          <span class="navbar-item">
            <a routerLink="/logout">Logout</a>
          </span>
        </div>
      </div>
    </nav>

    <section class="section">
      <router-outlet></router-outlet>
    </section>

  </div>

</div>
