<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="card">
          <div class="card-content">

            <h1 class="title">Login</h1>
            <div class="notification is-danger is-light" *ngIf="badLogin">
              Invalid credentials
            </div>

            <form novalidate [formGroup]="loginForm" (ngSubmit)="loginSubmit(loginForm.value)">
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input id="email" class="input" type="email" placeholder="Email input" formControlName="email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                  <input id="password" class="input" type="password" placeholder="Password input" formControlName="password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                  </span>
                </div>
              </div>

              <div class="buttons mt-5">
                <button type="submit" class="button is-info">Login</button>
                <a routerLink="/register" class="button">Register</a>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
