<h1 class="title bold">Hits</h1>

<div class="block">
  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Id</th>
        <th>Target Name</th>
        <th>Description</th>
        <th>Assignee</th>
        <th>Created By</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hit of hits">
        <td>{{ hit.id }}</td>
        <td>{{ hit.targetName }}</td>
        <td>{{ hit.description}}</td>
        <td>{{ hit.assignee.name }}</td>
        <td>{{ hit.createdBy.name }}</td>
        <td>
          <span class="tag" [ngClass]="stateClass[hit.state]">{{ states[hit.state] }}</span>
        </td>
        <td>
          <a class="button" [routerLink]="['/hits', hit.id]">
            Details
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="hits.length == 0" class="has-text-centered">No content to show :(</p>
  <div *ngIf="isManager" class="has-text-centered buttons">
    <a routerLink="/hits/create" class="button is-primary">Create new hit</a>
    <a routerLink="/hits/bulk" class="button is-info is-light">Bulk</a>
  </div>
</div>
