<h1 class="title bold">Hit detail</h1>

<div class="block">
  <div class="notification is-danger is-light" *ngIf="badHit">
    <p *ngFor="let m of messages">{{ m }}</p>
  </div>
  <div class="field">
    <label class="label">Target Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Name of the target" [value]="hit.targetName" readonly>
    </div>
  </div>
  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <input class="input" type="text" placeholder="Short description" [value]="hit.description" readonly>
    </div>
  </div>
  <div class="field">
    <label class="label">Created by</label>
    <div class="control">
      <input class="input" type="text" [value]="hit.createdBy.name" readonly>
    </div>
  </div>
  <form novalidate [formGroup]="hitForm" (ngSubmit)="updateHit(hitForm.value)">
  <div class="field">
    <label class="label">Assigned to</label>
    <div class="control">
      <input class="input" type="text"[value]="hit.assignee.name" *ngIf="hit.state != 0 || !isManager" readonly>
      <div class="select" *ngIf="hit.state == 0 && isManager">
        <select formControlName="assignee" formControlName="assignee">
          <option *ngFor="let h of hitmans" [value]="h.id">{{ h.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">State</label>
    <div class="control">
      <input class="input" type="text" [value]="status[hit.state]" *ngIf="hit.state != 0" readonly>
      <div class="select" *ngIf="hit.state == 0">
        <select formControlName="state" formControlName="state">
          <option *ngFor="let s of status; let i = index;" [value]="i">{{ s }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="buttons mt-5">
    <button class="button is-success" type="submit" *ngIf="hit.state == 0">Update</button>
    <a routerLink="/hits" class="button">Go back</a>
  </div>
  </form>
</div>
