<h1 class="title bold">Hitman detail</h1>

<div class="block">
  <div class="notification is-danger is-light" *ngIf="badHitman">
    <p *ngFor="let m of messages">{{ m }}</p>
  </div>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" [value]="hitman.name" readonly>
    </div>
  </div>
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="text" [value]="hitman.email" readonly>
    </div>
  </div>
  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <input class="input" type="text" [value]="hitman.description" readonly>
    </div>
  </div>

  <div class="field">
    <label class="label">Is active</label>
    <div class="control">
      <input class="input" type="text" [value]="hitman.active ? 'true' : 'false'" *ngIf="!hitman.active" readonly>
      <div class="select" *ngIf="hitman.active">
        <select (change)="disableUser()">
          <option>true</option>
          <option>false</option>
        </select>
      </div>
    </div>
  </div>

  <div *ngIf="isTheBoss">
    <label class="label">Lackers</label>
    <p *ngIf="hitman.lackers.length == 0">User does not have lackers</p>
    <div class="tags">
      <span class="tag is-warning is-medium" *ngFor="let l of hitman.lackers">
        {{ l.name }}
        <button class="delete is-small" (click)="removeLacker(l.id)"></button>
      </span>
    </div>
    <div class="select" *ngIf="hitman.active">
      <select (change)="addLacker($event)">
        <option>Add hitman</option>
        <option *ngFor="let h of hitmen" [value]="h.id">{{ h.name }}</option>
      </select>
    </div>
  </div>

  <div class="buttons mt-5">
    <a routerLink="/hitmen" class="button">Go back</a>
  </div>
</div>
