<h1 class="title bold">Bulk edition</h1>

<div class="block">
  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Id</th>
        <th>Target Name</th>
        <th>Description</th>
        <th>Created By</th>
        <th>Status</th>
        <th>Assignee</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hit of hits">
        <td>{{ hit.id }}</td>
        <td>{{ hit.targetName }}</td>
        <td>{{ hit.description}}</td>
        <td>{{ hit.createdBy.name }}</td>
        <td>
          <span class="tag" [ngClass]="stateClass[hit.state]">{{ states[hit.state] }}</span>
        </td>
        <td>
          <div class="select">
            <select (change)="updateHit(hit.id, $event)" [value]="hit.assignee.id" [(ngModel)]="hit.assignee.id">
              <option *ngFor="let h of hitmen" [value]="h.id">{{ h.name }}</option>
            </select>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="hits.length == 0" class="has-text-centered">No active hits :(</p>
  <div class="has-text-centered buttons">
    <a routerLink="/hits" class="button">Back</a>
  </div>

</div>
