<h1 class="title bold">Hitmen</h1>

<div class="block">
  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Manager</th>
        <th>Is active</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hitman of hitmen">
        <td>{{ hitman.id }}</td>
        <td>{{ hitman.name }}</td>
        <td>{{ hitman.email }}</td>
        <td>
          <ng-container *ngIf="hitman.manager">{{ hitman.manager.name }}</ng-container>
        </td>
        <td>{{ hitman.active ? true : false }}</td>
        <td>
          <a class="button" [routerLink]="['/hitmen', hitman.id]">
            Details
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="hitmen.length == 0" class="has-text-centered">No content to show :(</p>
</div>
