<h1 class="title bold">Create Hit</h1>

<div class="block">
  <div class="notification is-danger is-light" *ngIf="badHit">
    <p *ngFor="let m of messages">{{ m }}</p>
  </div>
  <form novalidate [formGroup]="hitForm" (ngSubmit)="createHit(hitForm.value)">
    <div class="field">
      <label class="label">Target Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Name of the target" formControlName="targetName">
      </div>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <input class="input" type="text" placeholder="Short description" formControlName="description">
      </div>
    </div>
    <div class="field">
      <label class="label">Assigned to</label>
      <div class="control">
        <div class="select">
          <select formControlName="assignee">
            <option value="">Select one</option>
            <option *ngFor="let h of hitmans" [value]="h.id">{{ h.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">State</label>
      <div class="control">
        <div class="select">
          <select formControlName="state">
            <option value="">Select one</option>
            <option *ngFor="let s of status; let i = index;" [value]="i">{{ s }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="buttons mt-5">
      <button type="submit" class="button is-success">Create hit</button>
      <a routerLink="/hits" class="button">Cancel</a>
    </div>
  </form>
</div>
