<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="card">
          <div class="card-content">

            <h1 class="title">Create your account</h1>
            <div class="notification is-danger is-light" *ngIf="badRegister">
              <ng-container *ngIf="messages.map" >
              <p *ngFor="let m of messages">{{ m }}</p>
              </ng-container>
              <p *ngIf="messages.charAt">{{ messages }}</p>
            </div>

            <form novalidate [formGroup]="registerForm" (ngSubmit)="submit(registerForm.value)">
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input id="email" class="input" type="email" placeholder="Email input" formControlName="email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input id="name" class="input" type="text" placeholder="Full name" formControlName="name">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                  <input id="password" class="input" type="password" placeholder="Password input" formControlName="password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                  </span>
                </div>
              </div>

              <div class="buttons mt-5">
                <button type="submit" class="button is-info">Register</button>
                <a routerLink="/" class="button">Back</a>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
